.navbar-dark .navbar-nav .nav-link {
    color: #17a2b8;
    font-weight: bold;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}