{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="jumbotron mt-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<h1 class="text-center">ADD AN ITEM</h1>
				<form method="post" novalidate class="form">
				  {% csrf_token %}
				  {% bootstrap_field add_form.name placeholder="name of item"%}
				  {% bootstrap_field add_form.location placeholder="where you got it?" %}
				  {% bootstrap_form price_form %}
				  {% buttons %}
				  	<button type="submit" class="btn btn-success">Submit</button>
				  {% endbuttons %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}