{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-8">
					<h1 class="text-center">Send a Feedback</h1>
					<p class="lead text-center">What do you think about this website?</p>
					<form method="post" novalidate class="form">
					  {% csrf_token %}
					  {% bootstrap_form form %}
					  {% buttons %}
					  	<button type="submit" class="btn btn-success">Submit</button>
					  {% endbuttons %}
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}