{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron jumbotron-fluid pt-0 pb-1">
    <div class="container">  
      <h1 class="display-4">Welcome to LastPrice</h1>
      <p class="lead">Get an idea of the price of things before going to the market.</p>
      <p class="lead">Add prices of items you bought to help others.</p>
    </div>  
</div>

<div class="container h-100 mb-3">
    <div class="d-flex justify-content-center h-100">
      <form action="{% url 'search' %}" method="get">
        <div class="searchbar">
            <input id="user-input" class="search_input" type="text" name="q" placeholder="Search...">
            <a href="{% url 'search' %}" class="search_icon"><i id="search-icon" class="fa fa-search"></i></a>
        </div>
      </form>
    </div>
</div>

<div class="container">  
  <div class="row">
    {% if items %}
      <div class="container d-flex justify-content-center">
        <h2>Results for <b>'{{request.GET.q}}'</b></h2>
      </div>
      {% for item in items %}
      <div class="col-sm-6 col-lg-3">
        <div class="card mt-3 text-white bg-dark mb-3">  
          <!--<img class="card-img-top" alt="Card header image" src="{{item.image}}">-->
          <div id="replaceable-content" class="card-body">  
            <h5 class="card-title">{{item.name}} @{{item.location}} </h5>    
            <p class="card-text"><span>&#8358;</span>{{item.price.last.price}}</p>
            <p class="card-text">Average Price: <span>&#8358;</span>{{item.avg_price}}</p>
            <p class="card-text">Min Price: <span>&#8358;</span>{{item.min_price}}</p>
            <p class="card-text">Max Price: <span>&#8358;</span>{{item.max_price}}</p>  
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <div class="container d-flex justify-content-center">
        <h2>No search result(s) for this query</h2>
      </div>
    {% endif %}
  </div>  
</div>
{% endblock content %}
